<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

	<h:head>
		<title>JSF Login Page</title>
	</h:head>
	
	<body>
		<h:form>
			Username: <h:inputText value="#{user.username}" title="" /><h:message for="username" /><br />
			Password: <h:inputText value="#{user.password}" title="" /><h:message for="password" /><br />
			<h:commandButton value="Submit" action="#{formController.onLogin(user)}" /><br />
		</h:form>
		<h:messages />
	</body>
</html>
